@use "reset";
@use "layout";
@use "element";
@use "tailwind";
@use "scrollbar";
/* 自定义全局 CssVar */
:root {
  --pure-transition-duration: 0.016s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

html {
}

.h2 {
  color: #5a3daa;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 700;
  padding: 6px 10px 6px 15px;
  border-left: 5px solid #5a3daa;
  border-radius: 4px;
  background-color: #eeebf6;
  margin-bottom: 18px;
}

.left-border {
  border-left: 5px solid #5a3daa;
}
