@import "tailwindcss";

@theme {
  --color-bg_color: var(--el-bg-color);
  --color-primary: var(--el-color-primary);
  --color-primary_light_9: var(--el-color-primary-light-9);
  --color-text_color_primary: var(--el-text-color-primary);
  --color-text_color_regular: var(--el-text-color-regular);
  --color-text_color_disabled: var(--el-text-color-disabled);
}
