name: NodeJS with Webpack

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [22.12.0]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm install

      - name: Build Window
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          npm run release:win
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build MacOS
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          npm run release:mac
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          npm run release:linux
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
